PORT=8000
GEMINI_API_KEY=enter-your-gemini-api-key


SECRET_KEY=enter-your-secret-key

MONGO_URI=mongodb+srv://it23231832_db_user:T4xhYXsSQEgvT9YM@cluster0.gpyq4qb.mongodb.net/?appName=Cluster0

CLOUD_NAME=enter-your-cloud-name
API_KEY=enter-your-api-key
API_SECRET=enter-your-api-secret

#node mailer
EMAIL_HOST=enter-your-email-host
EMAIL_PORT=enter-your-email-port
EMAIL_USER=abcderf@gmail.com
EMAIL_PASS=enterepass
CONTACT_RECIPIENT_EMAIL=abc@gmail.com

